<div class="row">
  <div class="col-md-6" offset-md-3>
    <div class="card">
      <div class="card-block">
        <img class="rounded mx-auto d-block img-fluid" src="assets/images/diconwhitebg.png" alt="Data Iluminated LLC Logo">
        <h1 class="text-center">Register Account</h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
            <input type="submit" class="btn btn-primary btn-block" value="Register">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
